* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: darkblue;
  --color2: white;
  --padding: 1rem;
}

aside {
  width: 20rem;
  position: relative;
  background-color: #333;
  color: var(--color2);
  grid-column: 1/2;
  grid-row: 1/2;
}

aside img {
  width: 200px;
  height: auto;
}

header, .grid, footer {
  max-width: 840px;
  margin: 0 auto;
}

header, footer {
  border-top: solid 5px #333;
  text-align: center;
}

.grid {
  display: grid;
  align-items: center;
}

main img {
  float: right;
  width: 150px;
  height: auto;
  border: 1px solid var(--color2);
  padding: var(--padding);
  box-shadow: 0 0 25px gray;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color1);
  padding: 10px;
}

nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color2);
}

h1 {
  color: var(--color1);
  border-bottom: 1px solid black;
}

h2 {
  position: absolute;
  right: 1rem;
}

img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

main {
  grid-column: 2/3;
  margin: 1rem;
}

p {
  padding: 0;
}

/* Class selectors */

.box {
  margin: 1rem;
  border: 1px solid black;
  padding: var(--padding);
}


